<div class="inicioDiv">
    <div class="bannerSeguridad">

    </div>
    <div class="valuePropDiv">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4">
                    <i class="fas fa-house-user iconInicio"></i> <br>
                    <h4 class="titleInicioProp">Protegemos a tu familia</h4>

                </div>
                <div class="col-md-4">
                    <i class="fas fa-business-time iconInicio"></i> <br>
                    <h4 class="titleInicioProp">Cuidamos tu negocio</h4>

                </div>
                <div class="col-md-4">
                    <i class="fas fa-money-check-alt iconInicio"></i> <br>
                    <h4 class="titleInicioProp">Blindamos tu patrimonio</h4>

                </div>
            </div>
        </div>
    </div>
    <div class="escudoBanner text-center text-white">
        <div class="overlayEscudo">
            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <h5 class="titleBanner">Contamos con el permiso por la Secretaría de Seguridad Pública (SSP)
                            para trabajar en
                            cualquier
                            estado de la República Mexicana.</h5>
                        <button type="button" class="btn btn-info">Conocer Servicios</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>