<div class="productosLoc">
    <div class="bannerProductos">

    </div>
    <div class="container text-center contInfoProductos">
        <div class="row rowTitleProd">
            <div class="col-md-12">
                <h3>
                    Nuestros productos tienen la mejor tecnología
                </h3>
                <hr>
                <h5 class="text-secondary">Cubren todos los aspectos de tu seguridad</h5> <br>
            </div>
        </div> <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card cItem2" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/camera.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">VIDEO VIGILANCIA</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Camaras IP</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">DVR</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">NVR</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Kits de camaras</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">HDMI</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">4K</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Monitores de alta resolución</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Videowalls</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Acondicionamiento de cuartos de monitoreos</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cItem2" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/tarjetaAcceso.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">CONTROLES DE ACCESO</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Controladores y distribuidores</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Conteo de personas</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Control de temperatura a larga distancia</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Reconocimiento facial</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Lectoras biométricas</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Lectoras usb</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Paneles de control</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Proximidad</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Software para accesos</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Teclados</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Tarjetas y botoneras</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cItem2" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/fingerPrint.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">CONTROL DE ASISTENCIA</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Huellas</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Faciales</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Tarjetas magnéticas</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Teclados</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Ver más</a>
                    </div>
                </div>
            </div>
        </div> <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card cItem2" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/cerradura.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">CERRADURAS Y CHAPAS</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Eléctrica</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Magnética</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">De perno</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Biométrica</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Inteligente</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cItem2" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/torniquetes.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">CONTROL ACCESO PEATONAL</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Flap barriers</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Swing barriers</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Torniquetes</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cItem2" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/accesoVehicular.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">CONTROL ACCESO VEHICULAR</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Barreras vehicular</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Motores para portones</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Lectoras de largo alcance</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Reconocimiento de placas</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Tags</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Ver más</a>
                    </div>
                </div>
            </div>
        </div> <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card cItem2" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/parkingLot.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">SISTEMA DE ESTACIONAMIENTO</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Sistema de cobro</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Sistema de guia ultrasonido</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cItem2" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/detectorMetal.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">INSPECCIÓN</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Detectores de metal arco</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Detectores de metal portátil</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Sistemas de inspección de rayos x</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Sistemas de inspección vehícular</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cItem2" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/alarm.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">ALARMAS</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Residenciales, institucionales y vecinales</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Paquetes de alarma</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Paneles</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Teclados</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Sensores de alarma</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Módulos</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Botones</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Comunicadores y transmisores</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Sirenas</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Baterías de equipos dsc</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Cámaras – videoverificación</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Centrales de monitoreo y complementos</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Ver más</a>
                    </div>
                </div>
            </div>
        </div> <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card cItem2" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/electrified.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">CERCAS ELÉCTRICAS</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Energizadores</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Postes</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Alambres y cables</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Aisladores</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Automatización</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Seguridad y acceso</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Control de iluminación</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Ambientación</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Gateway</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cItem2" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/cerca.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">CERCAS PERIMETRALES</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Malla Ciclónica</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Rejas</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Malla electrosolada</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cItem2" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/fireDetector.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">CONTROL INCENDIO</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Paneles de control</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Estaciones manuales</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Detectores</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Estrobos y sirenas</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Módulos</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Teclados</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Extintores</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Ver más</a>
                    </div>
                </div>
            </div>
        </div> <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card cItem2" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/panelSolar.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">ENERGIA SOLAR</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Paneles solares</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Inversores</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Sistemas aislados</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Kit de instalación</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
<br>
<br>