<div class="serviciosLoc">
    <div class="bannerProductos">

    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Nuestros productos tienen la mejor tecnología
                </h3>
                <hr>
                <h5 class="text-secondary">Cubren todos los aspectos de tu seguridad</h5> <br>
            </div>
        </div> <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/camera.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">VIDEO VIGILANCIA</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Camaras IP</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">DVR</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">NVR</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Kits de camaras</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">HDMI</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">4K</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Monitores de alta resolución</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Videowalls</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Acondicionamiento de cuartos de monitoreos</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/tarjetaAcceso.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">CONTROLES DE ACCESO</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Controladores y distribuidores</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Conteo de personas</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Control de temperatura a larga distancia</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Reconocimiento facial</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Lectoras biométricas</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Lectoras usb</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Paneles de control</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Proximidad</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Software para accesos</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Teclados</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Tarjetas y botoneras</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/fingerPrint.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">CONTROL DE ASISTENCIA</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Huellas</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Faciales</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Tarjetas magnéticas</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Teclados</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div> <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/camera.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de vigilancia
                                privada intramuros
                                (armados y desarmados).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de escolta para
                                vehículos
                                privados, carga o institucionales (armada y desarmada).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicios de vehículos
                                escoltas
                                (blindados o simples con o sin identificación).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Servicio de
                                chofer armado o
                                desarmado con o sin vehículo.</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Servicio de
                                monitoreo,
                                monitorista y ubicación satelital.</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/camera.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de vigilancia
                                privada intramuros
                                (armados y desarmados).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de escolta para
                                vehículos
                                privados, carga o institucionales (armada y desarmada).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicios de vehículos
                                escoltas
                                (blindados o simples con o sin identificación).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Servicio de
                                chofer armado o
                                desarmado con o sin vehículo.</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Servicio de
                                monitoreo,
                                monitorista y ubicación satelital.</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/camera.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de vigilancia
                                privada intramuros
                                (armados y desarmados).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de escolta para
                                vehículos
                                privados, carga o institucionales (armada y desarmada).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicios de vehículos
                                escoltas
                                (blindados o simples con o sin identificación).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Servicio de
                                chofer armado o
                                desarmado con o sin vehículo.</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Servicio de
                                monitoreo,
                                monitorista y ubicación satelital.</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div> <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/camera.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de vigilancia
                                privada intramuros
                                (armados y desarmados).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de escolta para
                                vehículos
                                privados, carga o institucionales (armada y desarmada).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicios de vehículos
                                escoltas
                                (blindados o simples con o sin identificación).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Servicio de
                                chofer armado o
                                desarmado con o sin vehículo.</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Servicio de
                                monitoreo,
                                monitorista y ubicación satelital.</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/camera.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de vigilancia
                                privada intramuros
                                (armados y desarmados).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de escolta para
                                vehículos
                                privados, carga o institucionales (armada y desarmada).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicios de vehículos
                                escoltas
                                (blindados o simples con o sin identificación).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Servicio de
                                chofer armado o
                                desarmado con o sin vehículo.</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Servicio de
                                monitoreo,
                                monitorista y ubicación satelital.</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/camera.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de vigilancia
                                privada intramuros
                                (armados y desarmados).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de escolta para
                                vehículos
                                privados, carga o institucionales (armada y desarmada).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicios de vehículos
                                escoltas
                                (blindados o simples con o sin identificación).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Servicio de
                                chofer armado o
                                desarmado con o sin vehículo.</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Servicio de
                                monitoreo,
                                monitorista y ubicación satelital.</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div> <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/camera.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de vigilancia
                                privada intramuros
                                (armados y desarmados).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de escolta para
                                vehículos
                                privados, carga o institucionales (armada y desarmada).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicios de vehículos
                                escoltas
                                (blindados o simples con o sin identificación).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Servicio de
                                chofer armado o
                                desarmado con o sin vehículo.</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Servicio de
                                monitoreo,
                                monitorista y ubicación satelital.</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/camera.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de vigilancia
                                privada intramuros
                                (armados y desarmados).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de escolta para
                                vehículos
                                privados, carga o institucionales (armada y desarmada).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicios de vehículos
                                escoltas
                                (blindados o simples con o sin identificación).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Servicio de
                                chofer armado o
                                desarmado con o sin vehículo.</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Servicio de
                                monitoreo,
                                monitorista y ubicación satelital.</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/camera.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de vigilancia
                                privada intramuros
                                (armados y desarmados).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de escolta para
                                vehículos
                                privados, carga o institucionales (armada y desarmada).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicios de vehículos
                                escoltas
                                (blindados o simples con o sin identificación).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Servicio de
                                chofer armado o
                                desarmado con o sin vehículo.</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Servicio de
                                monitoreo,
                                monitorista y ubicación satelital.</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div> <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/camera.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de vigilancia
                                privada intramuros
                                (armados y desarmados).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de escolta para
                                vehículos
                                privados, carga o institucionales (armada y desarmada).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicios de vehículos
                                escoltas
                                (blindados o simples con o sin identificación).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Servicio de
                                chofer armado o
                                desarmado con o sin vehículo.</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Servicio de
                                monitoreo,
                                monitorista y ubicación satelital.</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/camera.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="list-group">
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de vigilancia
                                privada intramuros
                                (armados y desarmados).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de escolta para
                                vehículos
                                privados, carga o institucionales (armada y desarmada).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action">Servicios de vehículos
                                escoltas
                                (blindados o simples con o sin identificación).</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Servicio de
                                chofer armado o
                                desarmado con o sin vehículo.</a>
                            <a href="/contacto" class="list-group-item list-group-item-action disabled">Servicio de
                                monitoreo,
                                monitorista y ubicación satelital.</a>
                        </div> <br>
                        <a href="/contacto" class="btn btn-dark">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
<br>
<br>