<div class="serviciosLoc">
    <div class="bannerServicios">

    </div>
    <div class="container text-center">
        <h3>
            Nuestros servicios son integrales
        </h3>
        <hr>
        <h5 class="text-secondary">Cubren todos los aspectos de tu seguridad</h5> <br>

        <div class="list-group">
            <a href="/contacto" class="list-group-item list-group-item-dark">
                CONTÁCTANOS
            </a>
            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de vigilancia privada intramuros (armados y desarmados).</a>
            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de escolta para vehículos privados, carga o institucionales (armada y desarmada).</a>
            <a href="/contacto" class="list-group-item list-group-item-action">Servicios de vehículos escoltas (blindados o simples con o sin identificación).</a>
            <a href="/contacto" class="list-group-item list-group-item-action ">Servicio de chofer armado o desarmado con o sin vehículo.</a>
            <a href="/contacto" class="list-group-item list-group-item-action ">Servicio de monitoreo, monitorista y ubicación satelital.</a>
            <a href="/contacto" class="list-group-item list-group-item-action ">Análisis de voz (Layered Voice Analysis): Sistema de análisis de entrevistas para pruebas de pre empleo y periódicas para prevención de riesgos de conducta.</a>
            <a href="/contacto" class="list-group-item list-group-item-action ">LVA</a>
            <a href="/contacto" class="list-group-item list-group-item-action ">Psicometría: Medición de las funciones mentales en general y de las características psíquicas de los individuos en particular.</a>
            <a href="/contacto" class="list-group-item list-group-item-action ">Pruebas proyectivas de la personalidad: Basadas en el desarrollo de Karen Machover, también conocidas como pruebas de la figura humana</a>
            <a href="/contacto" class="list-group-item list-group-item-action ">Pruebas  de abuso de drogas: Verificación de consumo: Anfetaminas, metanfetaminas, opioides, marihuana, cocaína, benzodiacepinas,  barbitúricos, fenciclidina, cristal, oxicodona.</a>
            <a href="/contacto" class="list-group-item list-group-item-action ">Incidencias legales: La información de varias fuentes de información, como: documentación, juicios civiles y penales, entre otras; EN UNA SOLA FUENTE.</a>
            
        </div>
        
    </div>
</div>
<br>
<br>