<div class="serviciosLoc">
    <div class="bannerServicios">

    </div>
    <div class="container text-center">
        <h3>
            Nuestros servicios son integrales
        </h3>
        <hr>
        <h5 class="text-secondary">Cubren todos los aspectos de tu seguridad</h5> <br>

        <div class="list-group">
            <a href="/contacto" class="list-group-item list-group-item-dark">
                CONTÁCTANOS
            </a>
            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de vigilancia privada intramuros (armados y desarmados).</a>
            <a href="/contacto" class="list-group-item list-group-item-action">Servicio de escolta para vehículos privados, carga o institucionales (armada y desarmada).</a>
            <a href="/contacto" class="list-group-item list-group-item-action">Servicios de vehículos escoltas (blindados o simples con o sin identificación).</a>
            <a href="/contacto" class="list-group-item list-group-item-action disabled">Servicio de chofer armado o desarmado con o sin vehículo.</a>
            <a href="/contacto" class="list-group-item list-group-item-action disabled">Servicio de monitoreo, monitorista y ubicación satelital.</a>
        </div>
        
    </div>
</div>
<br>
<br>