.bannerSeguridad{
    height: 25rem;
    background-image: url("/assets/images/bannerSeguridad.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: 0s linear;
    background-position: 25% 85%;
    margin-bottom: 5%;
}
.iconInicio{
    font-size: 3rem;
    margin-bottom: 3%;
}
.font{
    font-family: 'Nunito Sans', sans-serif !important;
    font-family: 'Work Sans', sans-serif !important;
}
.escudoBanner{
    height: 20rem;
    background-image: url("/assets/images/escudoAzul.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: 0s linear;
    background-position: 25% 85%;
    margin-top: 5%;
}
.overlayEscudo{
    background-color: rgba(0, 0, 0, 0.294);
    width: 100%;
    height: 100%;
}
.titleBanner{
    margin-top: 25%;
}
.formularioLoc{
    padding-top: 5%;
    padding-bottom: 5%;
}

@media(max-width:991px){
    .bannerSeguridad{
        margin-bottom: 15%;
    }
    .bannerSeguridad{
        background-position: 55% 85%;
        
    }
    .titleInicioProp{
        margin-bottom: 20%;
    }
    .escudoBanner{
        background-position: 28% 85%;
    }
    .overlayEscudo{
        background-color: rgba(0, 0, 0, 0.568);
    }
    .buttonProductos{
        margin-bottom: 10%;
    }

}